@{
    ViewData["Title"] = "Home Page";
}

<h3>Poloniex dashboard</h3>

<div ng-app="MyApp" ng-controller="homeController">

    <h4>AG-Grid</h4>
    <div ag-grid="gridOptionsAgGruid" class="ag-fresh" style="height: 500px;margin-bottom:20px"></div>

    <h4>UI-Grid</h4>
    <div ui-grid="gridOptionsUIGrid" style="width:100%;height:500px"></div>
</div>

@section Scripts {
    <script src="~/App/app.js" asp-append-version="true"></script>
    <script src="~/App/macroBitApiService.js" asp-append-version="true"></script>
    <script src="~/App/ViewModel/Home/homeIndexViewModel.js" asp-append-version="true"></script>
}